<% provide :title, @user.name %>
<div class="row user-profile">
  <div class="col-md-5">
    <div class="row">
      <%= render "info" %>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-1">
    <%= render "shared/courses" %>
  </div>
</div>
